.empty_message {
  margin: 40px 0px;
  text-align: center;
  font-size: 16px;
}

.video-grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.auth-switch {
  text-align: center;
  margin-top: 50px;
  a {
    text-decoration: none;
    font-weight: 600;
    color: $blue;
    &:hover {
      color: #2980b9;
    }
  }
}
