.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    margin: 10px 0px;
  }
}

.social__btn {
  margin: 8px 0px;
  font-weight: 600;
  padding: 13px 35px;
  border: none;
  border-radius: 5px;
  color: white;
  &:hover {
    opacity: 0.9;
  }
  i,
  span {
    margin-right: 8px;
  }
}

.social__btn--github {
  background-color: aliceblue;
  color: $black;
}
.social__btn--kakao {
  background-color: #f1c40f;
}
.social__btn--naver {
  background-color: #2ecc71;
}
