div.social-login
    span or
    a(href="/users/github/start").social__btn.social__btn--github
        i.fab.fa-github
        | Continue with Github
    a(href="/users/kakao/start").social__btn.social__btn--kakao
        i.fas.fa-comments
        | Continue with Kakao
    a(href="/users/naver/start").social__btn.social__btn--naver
        span.social__btn--logo N
        | Continue with Naver