extends ../base

block content 
    form(method="post") 
        if errorMessage
            span=errorMessage
        input(type="password", placeholder="Current Password" name="currentPassword")
        input(type="password", placeholder="New Password" name="newPassword")
        input(type="password", placeholder="Password Confirmation" name="newPasswordConfirmation")
        input(type="submit", value="Change Password")
    